<!-- <h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
</head>

<body>
    <h1>
        <%= message || "Error" %>
    </h1>
    <h2>
        <%= error && error.status ? error.status : "Unknown Status" %>
    </h2>
    <pre><%= error ? error.stack : "No Stack Trace available" %></pre>
</body>

</html>